<div id="container">
    <div id="datos">
        <div class="area">
            <app-tarjeta-pokemon [fullData]="pokemon"></app-tarjeta-pokemon>
        </div>
        <div class="area">
            <p><span class="etiqueta">Tipo</span><span class="tipo"></span><span *ngFor="let tipo of pokemon?.types"
                    class="tipo">{{tipo.type.name | uppercase}}</span></p>
            <p><span class="etiqueta">Altura</span>{{pokemon?.height}}</p>
            <p><span class="etiqueta">Peso</span>{{pokemon?.weight}}<span>.Lbr</span></p>
        </div>
        <div id="statsContainer" class="area">
            <div id="estadisticasContainer">
                <p><span class="etiqueta">Daño base</span>{{(pokemon && pokemon.stats.length > 0)
                    &&pokemon.stats[0].base_stat}}</p>
                <p><span class="etiqueta">Tentativa</span>{{(pokemon && pokemon.stats.length > 0)
                    &&pokemon.stats[0].effort}}</p>
            </div>
        </div>
    </div>
    <button (click)="clickeado.emit()">
        <img id="flecha" src="./../../../assets/img/flecha.png" [ngClass]="{girar: abierto}">
    </button>
</div>