<main id="container">
    <p>
        <app-foto-pokemon></app-foto-pokemon>
    </p>
    <div id="tarjetasContainer">
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
    </div>
</main>